<div class = container>
<h1>Create Expense</h1>
<form [formGroup]="newExpenseForm" (ngSubmit)="onSubmit()">
    <mat-form-field class = 'amount-field'>
        <div matPrefix><b>$ &nbsp;</b></div>
        <mat-label>Amount</mat-label>
        <input type='number' matInput placeholder="100" formControlName="amount">
    </mat-form-field>

    <mat-slide-toggle class = 'creditCheck' formControlName="isGain">Payment</mat-slide-toggle>

    <br>

    <mat-form-field *ngIf = '!this.newExpenseForm.value.isGain'>
        <mat-label>Expense Type</mat-label>
        <mat-select formControlName="expenseType">
            <mat-option *ngFor="let type of this.afs.expenseTypes" [value] = 'type'>{{type}}</mat-option>
            
        </mat-select>
    </mat-form-field>

    <br *ngIf = '!this.newExpenseForm.value.isGain'>

    <mat-form-field class = 'full-width'>
        <mat-label>Expense Description</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"
                  formControlName="expenseDesc"></textarea>
    </mat-form-field>
    <br><br>
    Select the group members involved in this transaction:
    <br>
    <div class = checkboxes>
        <ng-container formArrayName="checkboxes">
<mat-checkbox 
            
            class = 'memberCheck'
            *ngFor="let groupMember of this.auth.groupMembers; let i = index"
            [formControlName] = 'i'>
            {{groupMember.displayName.split(" ")[0]}}
        </mat-checkbox>
        </ng-container>
        
    </div>
   <br>
   

    <!--  <button mat-raised-button color="primary">Submit</button> -->
    <div class = submit>
        <button mat-raised-button color = "primary" type="submit" [disabled]="!newExpenseForm.valid">Submit</button>
    </div>
</form><button (click) = 'this.afs.settleUp("YdrLRZRgIxmOgnqx1ZBo")' mat-raised-button color = "primary">Settle</button>
</div>