<div class = 'main-container'>
    <app-sidenav></app-sidenav>
    <div class = 'content-window'>
        <div class = 'inner-section'>
            <h1>Recent Expenses
                <button (click) = 'openDialog()' [disabled] = '!this.auth.userGroup' mat-icon-button>
                    <mat-icon>add</mat-icon>
                </button>
            </h1> 
            <mat-form-field>
                <mat-label>Search</mat-label>
                <input matInput placeholder="chicken">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>    
        </div>
        <app-user-profile></app-user-profile>
    </div>
</div>