<div *ngIf = 'auth.userGroup == null' class = 'no-group'>
    <h1>Group Info</h1>
    <br>
    It look's like you're not in a group...
    <br><br>
    You can either
    <br><br>
    <div class = form-row>
        <mat-form-field id = 'groupCode'>
            <mat-label>Enter a group code:</mat-label>
            <input [formControl] = 'groupCode' matInput placeholder="abc123">
            <mat-error *ngIf="groupCode.invalid">{{codeError}}</mat-error>
        </mat-form-field>
        <button (click) = 'joinGroup()' mat-stroked-button color="primary" class = 'join' >Join</button>
    </div>
    
    <br>
    <div class = 'centered'><b>or</b></div>
    <br>
    <div class = form-row>
        <mat-form-field id = 'groupName'>
            <mat-label>Enter your group name:</mat-label>
            <input [formControl] = 'groupName' matInput placeholder="House Party">
            <mat-error *ngIf="groupName.invalid">{{nameError}}</mat-error>
        </mat-form-field>
        <button (click) = 'createGroup()' mat-stroked-button color="primary" class = 'join' >Create</button>
    </div>
</div>


<div *ngIf = 'auth.userGroup != null' class = 'group'>
    <div *ngIf="!this.userGroup; else groupLoaded"><mat-spinner></mat-spinner></div>
    <ng-template #groupLoaded>
        <h1>Group Info</h1>
        You are a member of the group
        <h2>{{this.userGroup.name}}</h2>
        
        <b>{{this.userGroup.users.length}}</b> members
        <br><br>
        Use the code <b>{{this.userGroup.code}}</b> to invite new members to your group.
        <br><br>
        <div class = leave>
            <button (click) = 'leaveGroup()' mat-stroked-button color="warn">Leave Group</button>
        </div>
    </ng-template>
    
</div>