<html>

<head>
    <title>Residential Accounting Manager</title>
    <link href="home.component.scss" rel="stylesheet" type="text/css">
</head>

<body bgcolor="#a14010">
    <div class="header">

        <div>

            <ul class="main-nav">
                <li class="active"><a (click) = 'signIn()' style='cursor: pointer;'> Login </a></li>
            </ul>

        </div>

        
        <div class = "mainTitle"> R.A.M </div>
        <div class = "mainSubTitle"> Residential Accounting Manager </div>

    </div>
    <div class = "mainPic">
        <img src = "/assets/ram_blue_grey_2.png" alt = 'logo'>
    </div>



</body>

</html>