<html>

<head>
    <title>Residential Accounting Manager</title>
    <link href="menu.component.scss" rel="stylesheet" type="text/css">
</head>

<body bgcolor="#a14010">
    <div class="header">
    </div>
    
    <ul class="main-nav">
        <li class="active"><a href=".html"> Recent Expenses </a></li>
        <li class="active"><a href=".html"> Reporting </a></li>
        <li class="active"><a href=".html"> Budgeting </a></li>
        <li class="active"><a href=".html"> ... </a></li>
        <li class="active"> <a (click)='ngOnInit()' style='cursor: pointer;'> User Profile </a> </li>    
    </ul>

</body>

</html>