<div class = 'main-container'>
    <app-sidenav></app-sidenav>
    <div class = 'content-window'>
        <div class = "inner-section">
    
          

            <p id="demo"></p>


            <h1>Budgeting
                <button id="myBtn" mat-icon-button aria-label="Example icon button with a vertical three dot icon" >
                    <mat-icon>add</mat-icon>
                </button>
            </h1> 
            <button id="addCardButton" mat-raised-button (click)="addCard()">Add Card</button>
            <button id="clearCardsButton" mat-raised-button (click)="clearCards()">Clear All Cards</button>

             <app-user-profile></app-user-profile>

            <div class="content" fxLayout="column wrap">
                <div fxFlex="25%" *ngFor="let num of [1,2,3,4,5,6,7]">
                    <mat-card class="mat-elevation-z4">
                    <mat-card-header>
                        <mat-card-title>Budget Name {{num}}</mat-card-title>
                    </mat-card-header>
                    
                    <mat-card-content>
                        <p>description</p>
                    </mat-card-content>

                    <mat-progress-bar id="budget-Bar" mode="determinate" value="40"></mat-progress-bar>
                    <mat-card-actions>
                        <button onclick="showStatus()" mat-button>Status</button> 
                        <!--<button mat-button>SHARE</button>-->
                    </mat-card-actions>
                    </mat-card>
                </div>
            </div>

           
        </div>
    </div>
</div>
