.main-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
}
.content-window{
    flex: 1;
    background-color: #ced4dc;
}


.inner-section{
    
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    height: 60%;
    

    //background-color: blue;
    
    h1{
        color: #4c4d50;
        font-weight: 300;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.card, mat-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
    height: 20%;
    border-radius: 5px; /* 5px rounded corners */
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover, .mat-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.356);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }




  .card-flex-container {
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  #addCardButton{
      background-color: lightgreen;
  }


  #clearCardsButton{
      background-color:#ff4d4d;
  }