<div class = 'main-container'>
    <app-sidenav></app-sidenav>
    <div class = 'content-window'>
        <div class = "inner-section">
    
          

            <p id="demo"></p>


            <h1>Budgeting</h1> 
            <button id="addCardButton" mat-raised-button (click)="addCard()">Add Card</button>
            <button id="clearCardsButton" mat-raised-button (click)="clearCards()">Clear All Cards</button>

             <app-user-profile></app-user-profile>

            <div class="content" fxLayout="column wrap" fxLayoutGap-Grid>
                <div i="arrayNGFR" 
                fxFlex="25%" >
                    <mat-card class="mat-elevation-z4"
                    *ngFor="let budgets of this.afs.budgets; let i = index"
                    [formControlName] = 'i'>
                    <mat-card-header>
                        <mat-card-title>{{budgets.name}}</mat-card-title>
                    </mat-card-header>
                    
                    <mat-card-content>
                        <p>description</p>
                    </mat-card-content>

                    <mat-progress-bar id="budget-Bar" mode="determinate" value="40"></mat-progress-bar>
                    <mat-card-actions>
                        <button onclick="showStatus()" mat-button>Status</button> 
                        <!--<button mat-button>SHARE</button>-->
                    </mat-card-actions>
                    </mat-card>
                </div>
                <br>
                <br>
            </div>

           
        </div>
    </div>
</div>
