<html>

<head>
    <title>Residential Accounting Manager</title>
    <link href="home.component.scss" rel="stylesheet" type="text/css">
</head>

<body bgcolor="#a14010">
    <div class="header">

        <div>

            <ul class="main-nav">
                <li class="active"><a href="index.html"> Login </a></li>
            </ul>

        </div>

        <div class="named">
            <h1>R.A.M.</h1>
            <h2>Residential Accounting Manager</h2>
        </div>

    </div>



</body>

</html>